body {
    margin: 3rem;
    background-color: #BEBEBE;
}

h1 {
    color: gray;
    background-color: white;
    padding: 20px;
}

.container,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7,
.container8,
.container9,
.container10,
.container11,
.container12,
.container13,
.container14,
.container15 {
    padding-left: 15px;
    padding-top: 3px;
    color: white;
    height: 30px;
    margin: 0;
}

.container {
    background-color: #2A83C6;
}

.container2 {
    background-color: #2193D1;
}

.container3 {
    background-color: #1B9DD7;
}

.container4 {
    background-color: #0DAEE6;
}

.container5 {
    background-color: #57B6E6;
}

.container6 {
    background-color: #71C0EB;
}

.container7 {
    background-color: #a0cfec;
}

.container8 {
    background-color: #19B585;
}

.container9 {
    background-color: #F5B0CD;
}

.container10 {
    background-color: #F5A0C3;
}

.container11 {
    background-color: #F58FB7;
}

.container12 {
    background-color: #F57FAA;
}

.container13 {
    background-color: #F56F9E;
}

.container14 {
    background-color: #F55F91;
}

.container15 {
    background-color: #F54F85;
}